/* laptop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .access-img-2 img {
        margin-right: 0;
        margin-left: -150px;
    }
    .hero-padding {
	padding: 0 50px;
}
    .testimonial-image img {
	margin-left: 0;
}
    .pl-70 {
	padding-left: 30px;
}

}


/* Normal desktop(lg) :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .access-img img {
        margin-left: 0;
    }

    .testimonial-image img {
        margin-left: 0;
    }
/*    home-2*/
    
    .features-img img {
	width: 100%;
        margin-left: -30px;
}
  .features-parent {
	padding-top: 20px;
}  
    
 .fea-right-img {
	padding-left: -30px;
}   
.fea-right-img img {
	max-width: 100%;
}
    .features-list-content h3 {
	font-size: 30px;
}
    
    .testimonial-image img {
	max-width: 100%;
}
    
    .testimonial-title {
	padding-top: 25px;
}
    .testimonial-image img {
	margin-left: -40px;
}
   .hero-padding {
	padding: 0;
} 
   .slider-height-2 {
	padding-top: 218px;
} 
    .pricing-tab {
	padding: 60px 33px;
}
}


/* Tablet desktop(md) :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .header-transparent {
        padding: 20px 0;
    }

    .slider-text {
        margin-bottom: 30px;
    }
    .access-img img {
	margin-left: 0;
	max-width: 100%;
}
    .testimonial-image img {
	margin-left: 0;
	max-width: 100%;
}
    .section-title h2 {
	font-size: 42px;
}
.slider-text {
	padding: 0 0;
}    
.hero-padding {
	padding: 0 0;
}
    .slider-height-2 {
	padding-top: 150px;
}
    .features-img img {
	margin-left: 0;
}
  .what-do-list {
	padding: 50px 25px;
}
    .pl-70 {
	padding-left: 0;
}
    .fea-left-img img {
	margin-left: 0;
}
   .pricing-tab {
	padding: 60px 35px;
	 
} 
    
    
    
    
    
    
    
    
    
}


/* small mobile(xs) :320px. */
@media (max-width: 767px) {
        .header-transparent {
        padding: 20px 0;
    }

    .slider-text {
        margin-bottom: 30px;
    }
    .access-img img {
	margin-left: 0;
	max-width: 100%;
}
    .testimonial-image img {
	margin-left: 0;
	max-width: 100%;
}
    .slider-text h2 {
	font-size: 35px;
}
    .slider-image img {
	max-width: 100%;
}
    .section-title h2 {
	font-size: 35px;
}
 .access-text h3 {
	font-size: 31px;
}   
  .section-title h2 {
	font-size: 29px;
}  
 .newsletter input {
	width: 100%;
	margin-bottom: 20px;
}   
    
  .newsletter button {
	float: left;
}  
  .hero-padding {
	padding: 0 0;
}
    .slider-height-2 {
	padding-top: 150px;
}
.features-img img {
	margin-left: 0;
	max-width: 100%;
}
  .what-do-list {
	padding: 50px 25px;
}
    .pl-70 {
	padding-left: 0;
}
.fea-left-img img {
	margin-left: 0;
	max-width: 100%;
}
   .pricing-tab {
	padding: 60px 35px;
	 
}   
   .section-title-2 h2 {
	font-size: 31px;
}
    .features-list-content h3 {
	font-size: 30px;
}
    
  .fea-right-img img {
	max-width: 100%;
}  
  .testimonial-title h2 {
	font-size: 28px;
}  
    
    
    
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}
